@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  --tw-ring-color: transparent;
  --brown-button-font-color: white;
  --brown-button-background-color: #5a4e47;
  --white-button-font-color: #5a4e47;
  --white-button-background-color: white;
}

*::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("/fonts/banner/GmarketSansTTFBold.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSansMedium";
  src: url("/fonts/basic/NotoSansKR-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSansRegular";
  src: url("/fonts/basic/NotoSansKR-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "NotoSansLight";
  src: url("/fonts/basic/NotoSansKR-Light.ttf") format("truetype");
}

.GmarketBoldFont {
  font-family: "GmarketSansBold";
}

.NotoMediumFont {
  font-family: "NotoSansMedium";
}

.NotoRegularFont {
  font-family: "NotoSansRegular";
}
.NotoLightFont {
  font-family: "NotoSansLight";
}
.hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  position: relative;

  background: white;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
