@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  --tw-ring-color: transparent;
  --brown-button-font-color: white;
  --brown-button-background-color: #5a4e47;
  --white-button-font-color: #5a4e47;
  --white-button-background-color: white;
}
*::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("/fonts/banner/GmarketSansTTFBold.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSansMedium";
  src: url("/fonts/basic/NotoSansKR-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSansRegular";
  src: url("/fonts/basic/NotoSansKR-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "NotoSansLight";
  src: url("/fonts/basic/NotoSansKR-Light.ttf") format("truetype");
}

.GmarketBoldFont {
  font-family: "GmarketSansBold";
}

.NotoMediumFont {
  font-family: "NotoSansMedium";
}

.NotoRegularFont {
  font-family: "NotoSansRegular";
}
.NotoLightFont {
  font-family: "NotoSansLight";
}
.nav button {
  height: 50px;
}
.brown-button {
  background-color: var(--brown-button-background-color);
  color: var(--brown-button-font-color);
}
.white-button {
  background-color: var(--white-button-background-color);
  color: var(--white-button-font-color);
}
.rate {
  background: url(https://aldo814.github.io/jobcloud/html/images/user/star_bg02.png)
    no-repeat;
  width: 121px;
  height: 20px;
  position: relative;
}
.rate span {
  position: absolute;
  background: url(https://aldo814.github.io/jobcloud/html/images/user/star02.png);
  width: auto;
  height: 20px;
}
